body{
	background-image: url(/resources/GoMenuBackNoLogo.png);
}

div.container1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

div.container2 {
	z-index: 1;
	-webkit-filter: blur(100px);
}

#play_button {
	display: inline-block;
  	width: 200px;
  	padding: 8px;
  	color: #fff;
  	border: 1px solid #fff;
  	text-align: center;
  	outline: none;
  	text-decoration: none;
	z-index: 10;

}

#play_button:hover {
	.ghost-button:hover,
	.ghost-button:active {
  	background-color: #fff;
  	color: #000;
}
}

#profiles_button {
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 25px;
	background: #4d4d4d;
	padding: 0px 15px 0px 15px;
	border: solid #000000 2px;
	text-decoration: none;
	z-index: 10;
}

#profiles_button:hover {
	background: #c9c9c9;
	text-decoration: none;
}


.button_holder{
	text-align: center;
	margin-bottom: 30px;
}
